<?xml version="1.0" encoding="utf-8"?>
<!--suppress ProblematicWhitespace -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
	<application
			android:allowBackup="true"
			android:fullBackupContent="@xml/backup_rules"
			tools:targetApi="31"
			android:dataExtractionRules="@xml/data_extraction_rules"
			android:label="@string/app_name"
			android:icon="@mipmap/amogus"
			android:roundIcon="@mipmap/amogus_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.Hundroid">
		<service
				android:name="com.github.hummel.union.android.DiscordAdapter"
				android:foregroundServiceType="dataSync"
				android:exported="false">
		</service>
		<activity
				android:name="com.github.hummel.union.android.Main"
				android:exported="true"
				android:theme="@style/Theme.Hundroid">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>